<% layout('layouts/boilerplate') %>
<div class="row">
  <h1 class="text-center">Create Dating Place</h1>
  <div class="col-md-6 offset-md-3">
    <form
      action="/datingplaces"
      method="post"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          id="title"
          name="datingplace[title]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="datingplace[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Date Place Price</label>
        <div class="input-group mb-3">
          <span class="input-group-text" id="price-label">₱</span>
          <input
            type="text"
            class="form-control"
            placeholder="0.00"
            aria-label="Price"
            aria-describedby="price-label"
            name="datingplace[price]"
            required
          />
          <div class="valid-feedback">Looks good!</div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="datingplace[description]"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Upload Image</label>
        <input
          class="form-control"
          type="file"
          id="image"
          name="datingplace[images]"
          multiple
        />
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Dating Place</button>
      </div>
    </form>
  </div>
</div>
